@model List<MvcCv.DAL.Entities.Hobby>
<section class="resume-section" id="interests">
    @foreach(var item in Model)
    {
        <div class="resume-section-content">
            <h2 class="mb-5">Hobilerim</h2>
            <p>@item.Description1</p>
            <p class="mb-0">@item.Description2</p>
        </div>
    }    
</section>