@model MvcCv.DAL.Entities.Skill
@{
    ViewData["Title"] = "NewSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Yeni Yetenek Ekle</h1>

<form method="post">
    <label>Yetenek:</label>
    <input class="form-control" type="text" name="SkillName" placeholder="Yeteneği yazın..." />
    @Html.ValidationMessageFor(x => x.SkillName, "", new { @style = "color:red" })
    <br />
    <label>Derece:</label>
    <input class="form-control" type="text" name="Progress" placeholder="Yüzdelik derecesini yazın..." />
    @Html.ValidationMessageFor(x => x.Progress, "", new { @style = "color: red" })
    <br />
    <div class="container-fluid">
        <a href="/Skill/Index/" class="btn btn-info mx-4">Vazgeç</a>
        <span class="">
            <button class="btn btn-success mx-4">Kaydet</button>
        </span>
    </div>

</form>