@using MvcCv.DAL.Entities
@model List<SocialMedia>
<div class="social-icons">
    @foreach(var item in Model)
    {
        <a class="social-icon" href="@item.SocialMediaUrl"><i class="@item.Icon"></i></a>
    }
</div>